Case studies:

In [2]:
import pandas as pd

geipan_cases = pd.read_csv('/Users/javarome/PycharmProjects/ufoml/data/geipan/Export_etudedecas.csv', sep = '|', encoding='iso-8859-1')
geipan_cases.head()

,NumEtude,NomEtude,Latitude,Longitude,DateObservationEtude,DepartementEtude,NomduDepartement,RegionEtude,ResumeWeb,Doc_Associe,ResumeLong,DonneeTable2_type,DonneeTable2_doc,NomClassification,DateModification
0,1952-09-08193,CRECY-EN-PONTHIEU (80) 21.09.1952,"50,25","1,883333",21/09/1952,80,Somme,Picardie,Observation d'un engin circulaire de couleur g...,NaN,Témoignage récent (21/11/2010) d'une observati...,Questionnaire,CRECY-EN-PONTHIEU (80) 21.09.1952 [T-Cgei Cm Q...,C,24/08/2012
1,1960-04-02014,PIERREFORT (15) --.--.1960,"44,916667","2,833333",01/04/1960,15,Cantal,Auvergne,Observation d'un phénomène lumineux.,NaN,Témoignage récent (14 mai 2008) d'une observat...,courrier,"PIERREFORT (15) --.--.1960 [T-Cgei Cm T S,A] c...",C,08/04/2010
2,1960-07-08172,WISSOUS (91) 01.07.1960,"48,733333","2,333333",01/07/1960,91,Essonne,Ile-de-France,"Observation par temps pré-orageux, du déplacem...",NaN,Témoignage récent d'une observation ancienne :...,Questionnaire;courrier,"WISSOUS (91) 01.07.1960 [T-Cgei Cm Qt T,D,C S,...",B,12/03/2012
3,1963-11-01791,PREMESQUES (59) 11.11.1963,"50,65","2,95",11/11/1963,59,Nord,Nord-Pas-de-Calais,Observation d'une boule lumineuse orangéstatio...,NaN,Une observation faite en novembre 1963 par tro...,CR,"PREMESQUES (59) 11.11.1963 [T-E Cm CR T,D S,A]...",D1,30/03/2012
4,1964-03-01780,LE BOURGET DU LAC (73) 01.03.1964,NaN,NaN,01/03/1964,73,Savoie,Rhône Alpes,Observation de silhouettes et décollage d'un o...,NaN,"Une personne rapporte qu'en 1964, il a été tém...",courrier,LE BOURGET DU LAC (73) 01.03.1964 [T-Cgei Cl T...,C,01/04/2010

PV:

In [3]:
geipan_pv = pd.read_csv('/Users/javarome/PycharmProjects/ufoml/data/geipan/Export_PVTemoignage.csv', sep = '|', encoding='iso-8859-1')
geipan_pv.head()

,NumEtude,NumSEPRA,NumPV,NumTemoignage,TypeTemoignage,DateObservation,NumPiece,CR_Reference,DateCR,idAge,...,idEffetEnvironnemen1,idEffetEnvironnemen2,idEffetEnvironnemen3,idReaction,idComportement1,idComportement2,idComportement3,c_RadarBordEcho,c_RadarSolEcho,DonneeTable2_doc
0,1952-09-08193,1952110624,NaN,1,Terrestre,21/09/1952,NaN,NaN,NaN,Adulte (au-delà de 60 ans),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON,NON,CRECY-EN-PONTHIEU (80) 21.09.1952 [T-Cgei Cm Q...
1,1960-04-02014,1960110164,NaN,1,Terrestre,01/04/1960,NaN,NaN,NaN,Non précisé,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON,NON,"PIERREFORT (15) --.--.1960 [T-Cgei Cm T S,A] c..."
2,1960-04-02014,1960110164,NaN,2,Terrestre,01/04/1960,NaN,NaN,NaN,Adulte (au-delà de 60 ans),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON,NON,"PIERREFORT (15) --.--.1960 [T-Cgei Cm T S,A] c..."
3,1960-07-08172,1960110531,NaN,1,Terrestre,01/07/1960,NaN,NaN,NaN,Adolescent (de 13 à 18 ans),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON,NON,"WISSOUS (91) 01.07.1960 [T-Cgei Cm Qt T,D,C S,..."
4,1963-11-01791,1963110542,NaN,1,Terrestre,11/11/1963,NaN,NaN,NaN,Adulte (au-delà de 18 ans),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON,NON,"PREMESQUES (59) 11.11.1963 [T-E Cm CR T,D S,A]..."

We merge:

In [6]:
data = geipan_cases.merge(geipan_pv, on='NumEtude')
data.head()

,NumEtude,NomEtude,Latitude,Longitude,DateObservationEtude,DepartementEtude,NomduDepartement,RegionEtude,ResumeWeb,Doc_Associe,...,idEffetEnvironnemen1,idEffetEnvironnemen2,idEffetEnvironnemen3,idReaction,idComportement1,idComportement2,idComportement3,c_RadarBordEcho,c_RadarSolEcho,DonneeTable2_doc_y
0,1952-09-08193,CRECY-EN-PONTHIEU (80) 21.09.1952,"50,25","1,883333",21/09/1952,80,Somme,Picardie,Observation d'un engin circulaire de couleur g...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON,NON,CRECY-EN-PONTHIEU (80) 21.09.1952 [T-Cgei Cm Q...
1,1960-04-02014,PIERREFORT (15) --.--.1960,"44,916667","2,833333",01/04/1960,15,Cantal,Auvergne,Observation d'un phénomène lumineux.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON,NON,"PIERREFORT (15) --.--.1960 [T-Cgei Cm T S,A] c..."
2,1960-04-02014,PIERREFORT (15) --.--.1960,"44,916667","2,833333",01/04/1960,15,Cantal,Auvergne,Observation d'un phénomène lumineux.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON,NON,"PIERREFORT (15) --.--.1960 [T-Cgei Cm T S,A] c..."
3,1960-07-08172,WISSOUS (91) 01.07.1960,"48,733333","2,333333",01/07/1960,91,Essonne,Ile-de-France,"Observation par temps pré-orageux, du déplacem...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON,NON,"WISSOUS (91) 01.07.1960 [T-Cgei Cm Qt T,D,C S,..."
4,1963-11-01791,PREMESQUES (59) 11.11.1963,"50,65","2,95",11/11/1963,59,Nord,Nord-Pas-de-Calais,Observation d'une boule lumineuse orangéstatio...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON,NON,"PREMESQUES (59) 11.11.1963 [T-E Cm CR T,D S,A]..."